// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

nav{
    width: 100vw;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 20px;

    background: #6b2561;
    border-bottom: 2px solid #4094f5;
    z-index: 2;

    font-size: 0.8em;

    @media only screen and (min-width: $desktop-min-size){
        padding: 30px;
        font-size: 1.2em;
    }

    .wrapper{
        @media only screen and (min-width: $desktop-min-size){
            width: 1250px;
            margin: 0 auto 0 auto;
        }
    }

    a{
        color: #ffffff;
        margin-left: 15px;

        @media only screen and (min-width: $desktop-min-size){
            margin-left: 35px;
        }
    }

    .current{
        color: #d133b9;
    }
}

.fixed{
    position: fixed;
    top: 0;
    left: 0;
    animation: popDown .8s;
}

#nav-wrapper{
    height: 60px;

    @media only screen and (min-width: $desktop-min-size){
        height: 100px;
    }
}

@keyframes popDown {
    0% {
      transform: translateY(-100px); } 
    }