// About Container - Contains "About" me stuff
#about{
    background: rgb(240, 240, 240);
    position: relative;
    padding-bottom: 2vh;

    // Tablets
    @media only screen and (min-width: $tablet-min-size) {
        padding-bottom: 10vh;
    }

    .animated{
        visibility: hidden;
    }

    .visible{
        visibility: visible !important;
    }

    #wrapper{
        // Tablets
        @media only screen and (min-width: $tablet-min-size) {
            width: 100vw;
            height: auto;
        }

        // Desktop
        @media only screen and (min-width: $desktop-min-size) {
            width: 50vw;
        }  
    }

    #fer_container{
        position: relative;
        width: 90vw;
        color: $text-color;

        margin: 0 auto 0 auto;
        padding: 16px;

         // Tablets and Desktops above
        @media only screen and (min-width: $tablet-min-size) {
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px;
        }

        .card_container{
            margin-top: 2vh;
            background: rgba(255, 255, 255, 0);

            @media only screen and (min-width: $desktop-min-size) {
                width: 22%;
            }
        }

        hr{
            border: 0;
            width: 40vw;
            background-color: $text-color;
            height: 0.8vh;
            padding: 0;
            // margin: 0.3vh auto 0 auto;
            margin: 0;
        }

        .header{
            color: #000;
            width: auto;
            height: 55px;
            font-size: 1.8rem;
            font-family: 'RobotoB';
            padding: 8px;
            text-align: center;
        }

        .description{
            font-family: 'Lato';
            color: #000000;
            border-radius: 8px;
            // background: radial-gradient(ellipse at bottom, rgba(20, 6, 16, 0.767) 0%, #090A0F 100%);
            width: 75vw;
            padding: 16px;
            font-size: 0.8em;
            margin: 0 auto 0 auto;
            text-align: center;

            // Tablets
            @media only screen and (min-width: $tablet-min-size) {
                width: 100%;
            }

            // Desktop
            @media only screen and (min-width: $desktop-min-size) {
                font-size: 1em;
                // padding: 16px 100px 16px 100px;
            }
        }
    }

    .divider{
        text-align: center;
        color: rgb(116, 15, 126);
    }

    .or-spacer {
        width:200px; 
        margin: 0.5vh auto 0 auto;
        
        .mask { 
          overflow:hidden; height:20px; 
          &:after { 
            content:''; 
            display:block; margin:-25px auto 0;
            width:100%; height:25px;  
            border-radius:125px / 12px;  
            box-shadow:0 0 8px black;
          }
        }
        span {
          $size:50px;
          width:$size; height:$size; 
          position:absolute; 
          bottom:100%; margin-bottom:-$size/2;
          left:50%; margin-left:-$size/2;
          border-radius:100%;
          box-shadow:0 2px 4px #999;
          background:white;
        }
        span i {
          $offset:4px;
          position:absolute;
          top:$offset; bottom:$offset;
          left:$offset; right:$offset;
          border-radius:100%;
          border:1px dashed #aaa;
          
          text-align:center;
          line-height:40px;
          font-style:normal;
          color:#999;
        }
      }

    // WHO AM I CONTAINER
    #whoAmIWrapper{
        width: inherit;
        height: 30em;
        position: relative;
        z-index: 0;
    }

    $main_text_container_width: 90vw;
    $main_text_container_height: 35rem;
    $main_text_container_left_pos: 4vw;
    $main_text_container_top_pos: 5vh;

    @mixin height_adjustments($w, $h, $t, $l){
        width: $main_text_container_width + $w;
        height: $main_text_container_height + $h;
        top: $main_text_container_top_pos + $t;
        left: $main_text_container_left_pos + $l;
    }

    #photo{
        background: url('../assets/photo.png') center no-repeat;
        background-size: 200px 175px;
        width: 130px;
        height: 125px;
        margin: 0 auto 0 auto;
        border-radius: 80%;
        padding: 16px;

        // Tablets
        @media only screen and (min-width: $tablet-min-size) {
            background-size: 245px 195px;
            width: 200px;
            height: 195px;
        }
    }

    #main_text_container{        
        position: absolute;
        color: $text-color;
        background: $white-color;
        padding: 40px 20px 0px 20px;
        font-family: 'lato';
        font-size: 1em;
        text-align: center;

        @include height_adjustments(0, 0, 0, 0);

        // Tablets
        @media only screen and (min-width: $tablet-min-size) {
            @include height_adjustments(-20vw, -4rem, 0, 12vw);

            padding: 30px;
            
            h1{
                font-size: 1.5em;
                padding-top: 10px;
            }
        }

        // Desktop
        @media only screen and (min-width: $desktop-min-size) {
            display: block;

            @include height_adjustments(-50vw, -4rem, 0, 3vw);
        }        

        z-index: 3;
    } 
        
    #black_bottom_shade{
        position: absolute;
        @include height_adjustments(-4.5vw, 0, 2.2vh, 6.6vw);

        // Tablets
        @media only screen and (min-width: $tablet-min-size) {
            @include height_adjustments(-20vw, -4rem, 1.5vh, 13.6vw);
        }

        // Desktop
        @media only screen and (min-width: $desktop-min-size) {
            @include height_adjustments(-50vw, -4rem, 1.3vh, 4.8vw);
        }  

        background: rgb(49, 49, 49);
        z-index: 2;
    }

    #purple_right_shade{
        position: absolute;
        @include height_adjustments(-2vw, -2rem, -1.4vh, 5.5vw);

        // Tablets
        @media only screen and (min-width: $tablet-min-size) {
            @include height_adjustments(-20vw, -4rem, -1.3vh, 15vw);
        }

        // Desktop
        @media only screen and (min-width: $desktop-min-size) {
            @include height_adjustments(-50vw, -4rem, -1.4vh, 6vw);
        }  

        background: #662D8F;
        z-index: 1;
    }
}