// About Container - Contains "About" me stuff
#about{
    background: rgb(240, 240, 240);
    position: relative;
    padding-bottom: 2vh;

    // Tablets
    @media only screen and (min-width: $tablet-min-size) {
        padding-bottom: 4vh;
    }

    // Desktop
    @media only screen and (min-width: $desktop-min-size) {
        padding-bottom: 10vh;
    }    

    .animated{
        visibility: hidden;
    }

    .visible{
        visibility: visible !important;
    }

    #wrapper{
        // Tablets
        @media only screen and (min-width: $tablet-min-size) {
            width: 100vw;
            height: auto;
        }

        // Desktop
        @media only screen and (min-width: $desktop-min-size) {
            width: 50vw;
        }  
    }

    .icon_wrapper{
        text-align: center;
        height: 40px;
    }

    .lightning_bolt_icon{
        background: url('../assets/flash.svg') no-repeat;
        padding: 20px;
        position: absolute;
        margin-left: -20px;
    }

    .leaf_icon{
        background: url('../assets/leaf.svg') no-repeat;
        background-size: 40px 50px;
        padding: 30px;
        position: absolute;
        margin-left: -20px;
    }

    .responsive_design_icon{
        background: url('../assets/responsive-design-symbol.svg') no-repeat;
        background-size: 45px 50px;
        padding: 25px;
        position: absolute;
        margin-left: -20px;
    }

    #fer_container{
        position: relative;
        width: 90vw;
        color: $text-color;

        margin: 0 auto 0 auto;
        padding: 16px;

         // Tablets and Desktops above
        @media only screen and (min-width: $tablet-min-size) {
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px;
        }

        .card_container{
            margin-top: 5vh;
            background: rgba(255, 255, 255, 0);

            @media only screen and (min-width: $tablet-min-size) {
                width: 30%;
            }

            @media only screen and (min-width: $desktop-min-size) {
                width: 27%;
            }

            @media only screen and (min-width: $lg-desktop-min-size){
                width: 25%;
            }
        }

        hr{
            border: 0;
            width: 40vw;
            background-color: $text-color;
            height: 0.8vh;
            padding: 0;
            // margin: 0.3vh auto 0 auto;
            margin: 0;
        }

        .header{
            color: #000;
            width: auto;
            height: 55px;
            font-size: 1.8rem;
            font-family: 'RobotoB';
            padding: 8px;
            text-align: center;
        }

        .description{
            font-family: 'Lato';
            color: #000000;
            border-radius: 8px;
            padding: 16px;
            font-size: 0.8em;
            margin: 0 auto 0 auto;
            text-align: center;
            width: 350px;

            // Tablets
            @media only screen and (min-width: $tablet-min-size) {
                width: 100%;
            }

            // Desktop
            @media only screen and (min-width: $desktop-min-size) {
                font-size: 1em;
                height: 120px;
                width: 290px;
            }
        }
    }

    .divider{
        text-align: center;
        color: rgb(116, 15, 126);
    }

    .or-spacer {
        width:200px; 
        margin: 0.5vh auto 0 auto;
        
        .mask { 
          overflow:hidden; height:20px; 
          &:after { 
            content:''; 
            display:block; margin:-25px auto 0;
            width:100%; height:25px;  
            border-radius:125px / 12px;  
            box-shadow:0 0 8px black;
          }
        }
        span {
          $size:50px;
          width:$size; height:$size; 
          position:absolute; 
          bottom:100%; margin-bottom:-$size/2;
          left:50%; margin-left:-$size/2;
          border-radius:100%;
          box-shadow:0 2px 4px #999;
          background:white;
        }
        span i {
          $offset:4px;
          position:absolute;
          top:$offset; bottom:$offset;
          left:$offset; right:$offset;
          border-radius:100%;
          border:1px dashed #aaa;
          
          text-align:center;
          line-height:40px;
          font-style:normal;
          color:#999;
        }
      }

    // WHO AM I CONTAINER
    #whoAmIWrapper{
        width: inherit;
        height: 30em;
        position: relative;

        // Tablets
        @media only screen and (min-width: $tablet-min-size) {
            height: 28em;
            padding-top: 65px;
        }

        // Desktop
        @media only screen and (min-width: $desktop-min-size) {
            padding-top: 0;
        }
    }

    @mixin height_adjustments($w, $h, $t, $l){
        width: $w;
        height: $h;
        top: $t;
        left: $l;
    }

    #photo{
        background: url('../assets/photo.png') center no-repeat;
        background-size: 200px 175px;
        width: 130px;
        height: 125px;
        margin: 20px auto 0 auto;
        border-radius: 80%;
        padding: 16px;

        // Tablets
        @media only screen and (min-width: $tablet-min-size) {
            background-size: 200px 160px;
            width: 150px;
            height: 150px;
        }
    }

    #main_text_container{        
        color: $text-color;
        background: $white-color;
        padding: 20px 35px 20px 35px;
        font-family: 'lato';
        font-size: 0.8em;
        text-align: center;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

        @include height_adjustments(90%, auto, 5vh, 5%);
        margin: 0 auto 0 auto;
        
        // Tablets
        @media only screen and (min-width: $tablet-min-size) {
            @include height_adjustments(500px, auto, 5vh, 0%);
            h1{
                font-size: 1.5em;
            }
        }

        // Desktop
        @media only screen and (min-width: $desktop-min-size) {
            @include height_adjustments(80%, auto, 5vh, 15%);

            padding: 40px 30px 20px 30px;

            left: -10px;

            max-width: 500px;
            float: right;
            position: relative;
        }
    } 
}
