// Contact container
#contact{
    position: relative;
    background: rgb(5, 69, 104);
    width: 100vw;
    height: auto;
    padding-bottom: 10vh;

    // Desktop
    @media only screen and (min-width: $desktop-min-size) {
        padding-bottom: 15vh;
    }

    h1{
        color: #fff;
    }

    hr{
        background-color: #fff;
    }

    h2{
        font-size: 1rem;
        color: rgb(115, 239, 255);
        text-align: center;
    }

    #contact_form{
        width: 90%;
        margin: 30px auto 0 auto;
    }

    input, textarea{
        text-rendering: auto;
        text-align: start;
        padding: 10px 15px;
        border: 0;
        outline: none;
        width: 100%;
        font-size: 12pt;
        margin-bottom: 3px;
        display: block;
        box-sizing: border-box;
        background: rgb(4, 51, 77);
        font: 400 13.3333px Arial;
        color: #fff;

        // Desktop
        @media only screen and (min-width: $desktop-min-size) {
            font-size: 1em;
            padding: 20px 25px;
        }
    }

    ::placeholder{
        color: rgba(255, 255, 255, 0.609);
        opacity: 1;
    }

    textarea{
        height: 100px;
    }

    .submit_button{
        padding: 10px;
        font-size: 12pt;
        border: 2px solid white;
        width: 35%;
        text-align: center;
        cursor: pointer;
        float: right;
        margin-top: 10px;

        // Desktop
        @media only screen and (min-width: $desktop-min-size) {
            font-size: 1em;
            padding: 20px 25px;
            width: 30%;
            border: 3px solid white;
        }
    }

    .callback_box{
        font-size: 0.7em;
        padding: 20px;
        margin-top: 2px;
        color: #fff;

        // Desktop
        @media only screen and (min-width: $desktop-min-size) {
            position: absolute;
        }
    }

    .success{
        background: rgb(23, 131, 41);
    }

    .failed{
        background: rgb(179, 47, 47);
    }
}