// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

html{
    scroll-behavior: smooth;
    overflow-x: hidden; // hide horizontal
}

h1{
    font-family: 'lato';
    font-size: 2rem;
    margin: 0;
    font-weight: normal;
    text-align: center;
    color: $text-color;
    // padding-top: 1.5vh;
    letter-spacing: 0.1em;
    padding-bottom: 2.5vh;

    // Tablets
    @media only screen and (min-width: $tablet-min-size) {
        font-size: 2em;
        letter-spacing: 0.08em;
    }

    // Desktop
    @media only screen and (min-width: $desktop-min-size) {
        font-size: 2.5em;
        letter-spacing: 0.06em;
    }
}

hr{
    border: 0;
    width: 35vw;
    background-color: $text-color;
    height: 0.8vh;
    padding: 0;
    margin: 1.1vh auto 0 auto;

    // Tablets
    @media only screen and (min-width: $tablet-min-size) {
        height: 0.65vh;

        width: 20vw;
    }
}

p{

    // Tablets
    @media only screen and (min-width: $tablet-min-size) {
        font-size: 1em;;
    }

    // Desktop
    @media only screen and (min-width: $desktop-min-size) {
        font-size: 1em;
    }
}

h1:before {
    content:"";
    display:block;
    height:60px;
    margin-top: -10px;

    @media only screen and (min-width: $desktop-min-size){
        height: 80px;
    }
}