// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

h1{
    font-family: 'lato';
    font-size: 2rem;
    margin: 0;
    font-weight: normal;
    text-align: center;
    color: $text-color;
    padding-top: 3.5vh;
    letter-spacing: 0.1em;
    padding-bottom: 1.5vh;

    // Tablets
    @media only screen and (min-width: $tablet-min-size) {
        font-size: 2em;
        letter-spacing: 0.08em;
    }

    // Desktop
    @media only screen and (min-width: $desktop-min-size) {
        font-size: 2.5em;
        letter-spacing: 0.06em;
    }
}

hr{
    border: 0;
    width: 35vw;
    background-color: $text-color;
    height: 0.8vh;
    padding: 0;
    margin: 1.1vh auto 0 auto;

    // Tablets
    @media only screen and (min-width: $tablet-min-size) {
        height: 0.65vh;

        width: 20vw;
    }
}

p{

    // Tablets
    @media only screen and (min-width: $tablet-min-size) {
        font-size: 1em;;
    }

    // Desktop
    @media only screen and (min-width: $desktop-min-size) {
        font-size: 1em;
    }
}


// Contact Us container
#block_five_container{
    position: relative;
    background: rgb(5, 69, 104);
    width: 100vw;
    height: auto;
    padding-bottom: 10vh;

    h1{
        color: #fff;
    }

    hr{
        background-color: #fff;
    }

    h2{
        font-size: 1rem;
        color: rgb(115, 239, 255);
        text-align: center;
    }

    #contact_form{
        width: 90%;
        margin: 30px auto 0 auto;
    }

    input, textarea{
        text-rendering: auto;
        text-align: start;
        padding: 10px 15px;
        border: 0;
        outline: none;
        width: 100%;
        font-size: 12pt;
        margin-bottom: 3px;
        display: block;
        box-sizing: border-box;
        background: rgb(4, 51, 77);
        font: 400 13.3333px Arial;
        color: #fff;

        // Desktop
        @media only screen and (min-width: $desktop-min-size) {
            font-size: 1em;
            padding: 20px 25px;
        }
    }

    ::placeholder{
        color: rgba(255, 255, 255, 0.609);
        opacity: 1;
    }

    textarea{
        height: 100px;
    }

    .submit_button{
        padding: 10px;
        font-size: 12pt;
        border: 2px solid white;
        width: 35%;
        text-align: center;
        cursor: pointer;
        float: right;
        margin-top: 10px;
    }
}

#footer{
    position: relative;
    background: #1B242F;
    width: 100vw;
    height: auto;
    padding: 16px;
    text-align: center;
    color: #8F9AA7;
    font-size: 10pt;
    -webkit-font-smoothing: antialiased;
    font-family: 'Lato';

    .highlight{
        color: #E31B6D;
    }
}