// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

// 4 main blocks
// Block 1 - Containing the hero landing "Hi" section
#block_one_container{
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    overflow: hidden;
    height: 100vh;

    // Purple name highlight
    .name{
        color: $purple-color;
    }
    
    // Star Animations
    @function multiple-box-shadow ($n){  // n is number of stars required
        $value: '#{random(2000)}px #{random(2000)}px #FFF';
        @for $i from 2 through $n{
        $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
        }
        @return unquote($value);
    }
    
    $shadows-small:  multiple-box-shadow(700);
    $shadows-medium: multiple-box-shadow(200);
    $shadows-big:    multiple-box-shadow(100);

    @mixin starFactory ($width, $height, $animationDur, $shadowType){
        width: $width;
        height: $height;
        background: transparent;
        box-shadow: $shadowType;
        animation: animStar $animationDur linear infinite;

        &:after{
            content: " ";
            position: absolute;
            top: 2000px;
            width: $width;
            height: $height;
            background: transparent;
            box-shadow: $shadowType;
        }
    }

    #stars{
        @include starFactory(1px, 1px, 50s, $shadows-small);
    }
        
    #stars2{
        @include starFactory(2px, 2px, 100s, $shadows-medium);
    }

    #stars3{
        @include starFactory(3px, 3px, 150s, $shadows-big);
    }

    @keyframes animStar{
        from {transform: translateY(0px);}
        to {transform: translateY(-2000px);}
    }

    #main_content_container{
        position: absolute;
        top: 35%;
        left: 0;
        right: 0;

        color: $white-color;
        text-align: center;
        font-family: 'lato',sans-serif;
        font-weight: 300;
        font-size: 2rem;

        padding: 3vw;

        @media only screen and (min-width: $tablet-min-size) {
            font-size: 3rem;
            top: 35%;
        }

        @media only screen and (min-width: $desktop-min-size) {
            font-size: 4rem;
            top: 34%;
        }
    }

    // Used to horizontally align the view my work container
    #outer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #view_my_work_container{
        width: 200px;
        height: 50px;
        border: 3px solid $white-color;

        position: absolute;
        font-size: 1.2rem;
        padding: 8px;
        margin-top: 50px;

        // Re-align the text to center
        text-align: left;
        padding-left: 30px;

        @media only screen and (min-width: $tablet-min-size) {
            width: 300px;
            height: 70px;
            font-size: 1.8rem;
            padding-left: 45px;
            padding-top: 10px;
            margin-top: 70px;
        }

        .icon{
            position: absolute;
            margin-left: 5px;
            margin-top: 2px;

            @media only screen and (min-width: $tablet-min-size) {
                font-size: 2rem;
                margin-top: 6px;
                margin-left: 8px;
            }
        }
    }

    a{
        color: $white-color;
    }
}

// Block 2 Container - Contains "About" me stuff
#block_two_container{
    #background_block{
        display: flex;
        position: absolute;

        #left_block_colour{
            width: 50vw;
            height: 50vh;
            flex-basis: 50%;
            background: #000000;
        }

        #right_block_colour{
            width: 50vw;
            height: 50vh;
            flex-basis: 50%;
            background: $blue-color;
        }
    }

    #outerWrap{
        width: 100vw;
        height: 30vh;
        position: relative;
        z-index: 0;
    }

    $main_text_container_width: 85vw;
    $main_text_container_height: 32vh;
    $main_text_container_left_pos: 5vw;
    $main_text_container_top_pos: 5vh;

    #main_text_container{
        h1{
            font-family: 'RobotoBl';
            font-size: 3vh;
            margin: 0;
            width: 50vw;
            text-align: center;
        }

        hr{
            height: 0.9vh;
            width: 22vw;
            border: none;
            background: #000000;
            margin: 0;
            margin-left: 14.5vw;
        }

        .p1{
            width: 60vw;
        }

        .dot {
            height: 22vw;
            width: 22vw;
            background-color: #000000;
            border-radius: 50%;
            // display: absolute;
            float: right;
            margin-top: -3vh;
            margin-right: -2.5vw;
          }
        
        position: absolute;
        color: $text-color;
        background: $white-color;

        font-size: 2.1vh;
        width: $main_text_container_width;
        height: $main_text_container_height;
        left: $main_text_container_left_pos;
        top: $main_text_container_top_pos;
        z-index: 3;

        padding-left: 24px;
        padding-top: 16px;
        padding-right: 24px;

        font-family: 'RobotoR';
    }
    
    #black_bottom_shade{
        position: absolute;
        top: $main_text_container_top_pos + 1.5vh;
        left: $main_text_container_left_pos + 3.6vw;
        width: $main_text_container_width;
        height: $main_text_container_height;
        background: rgb(49, 49, 49);
        z-index: 2;
    }

    #purple_right_shade{
        position: absolute;
        top: $main_text_container_top_pos - 2.4vh;
        left: $main_text_container_left_pos + 9vw;
        width: $main_text_container_width - 2vw;
        height: $main_text_container_height;
        background: #662D8F;
        z-index: 1;
    }
}