// Introduction Section - Containing the hero landing "Hi" section
#introduction{
    background-image: linear-gradient(to top, #86377b 20%, #27273c 85%);
    overflow: hidden;
    height: 100vh;

    // Purple name highlight
    .name{
        color: $purple-color;
    }
    
    // Star Animations
    @function multiple-box-shadow ($n){  // n is number of stars required
        $value: '#{random(2000)}px #{random(2000)}px #FFF';
        @for $i from 2 through $n{
        $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
        }
        @return unquote($value);
    }

    $shadows-small:  multiple-box-shadow(700);
    $shadows-medium: multiple-box-shadow(200);
    $shadows-big:    multiple-box-shadow(100);

    @mixin starFactory ($width, $height, $animationDur, $shadowType){
        width: $width;
        height: $height;
        background: transparent;
        box-shadow: $shadowType;
        animation: animStar $animationDur linear infinite;

        &:after{
            content: " ";
            position: absolute;
            top: 2000px;
            width: $width;
            height: $height;
            background: transparent;
            box-shadow: $shadowType;
        }
    }

    #stars{
        @include starFactory(1px, 1px, 50s, $shadows-small);
    }
        
    #stars2{
        @include starFactory(2px, 2px, 100s, $shadows-medium);
    }

    #stars3{
        @include starFactory(3px, 3px, 150s, $shadows-big);
    }

    @keyframes animStar{
        from {transform: translateY(0px);}
        to {transform: translateY(-2000px);}
    }

    #main_content_container{
        position: absolute;
        top: 35%;
        left: 0;
        right: 0;

        color: $white-color;
        text-align: center;
        font-family: 'lato',sans-serif;
        font-weight: 300;
        font-size: 1.6em;

        padding: 3vw;

        // Tablets
        @media only screen and (min-width: $tablet-min-size) {
            font-size: 2em;
        }

        // Tablets Landscape
        @media only screen and (min-width: $tablet-min-size) and (orientation:landscape) {
            top: 17%;
        }

        // Desktop
        @media only screen and (min-width: $desktop-min-size) {
            font-size: 3em;
            top: 33%;
        }
    }

    // Used to horizontally align the view my work button
    #outer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #view_my_work_button{
        width: 200px;
        height: 50px;
        border: 3px solid $white-color;

        position: relative;
        font-size: 1.2rem;
        padding: 8px;

        // Re-align the text to center
        text-align: left;
        padding-left: 30px;

        margin-top: 20px;

        -webkit-transition: background-color .8s ease-in-out;
        transition:         background-color .8s ease-in-out;

        @media only screen and (min-width: $tablet-min-size) {
            width: 300px;
            height: 70px;
            font-size: 1.8rem;
            padding-left: 45px;
            padding-top: 10px;
            margin-top: 30px;
        }

        .icon{
            position: absolute;
            margin-left: 5px;
            margin-top: 2px;

            @media only screen and (min-width: $tablet-min-size) {
                font-size: 2rem;
                margin-top: 6px;
                margin-left: 8px;
            }

            -webkit-transition: -webkit-transform .4s ease-in-out;
            transition:         transform .4s ease-in-out;
        }
    }

    .rotated { 
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    a{
        color: $white-color;
    }

    a:hover{
        text-decoration: none;
        background: #4e9ae2;
    }
}