// Skillsets container
#skillsets{
    position: relative;
    background: rgb(238, 236, 236);
    width: 100vw;
    height: auto;

    padding-top: 3vh;
    padding-bottom: 3vh;
    

    // Desktop
    @media only screen and (min-width: $desktop-min-size) {
        width: 40vw;
        margin-top: -640px;
        margin-left: 50vw;
        background: rgb(240, 240, 240);
        padding-bottom: 100px;
        padding-top: 50px;
    }  

    h1{
        margin: 0;
        padding-top: 0;

        // Desktop
        @media only screen and (min-width: $desktop-min-size) {
            display: none;
        }  
    }

    #circleContainer{
        // Desktop
        @media only screen and (min-width: $desktop-min-size) {
            width: 500px;
        }  
    }

    #skillsetCircle{
        background: url('../assets/Asset 3.svg') no-repeat;
        width: 100px;
        height: 100px;
        
        position: relative;
        
        margin: 0 auto 0 auto;
    }

    #main_text_container{
        width: 90vw;
        height: auto;
        color: $text-color;

        font-size: 1.1em;

        margin: 0 auto 0 auto;
        font-family: 'lato';

        // Desktop
        @media only screen and (min-width: $desktop-min-size) {
            width: 500px;
            float: left;
        }  

    }
    
    .bar_container{
        width: 90vw;
        height: 25px;
        background: #E4E4E4;
        display: block;
        margin-top: 5px;

        // Tablets
        @media only screen and (min-width: $tablet-min-size) {
            margin: 8px auto 0 auto;
            height: 30px;
            width: 70vw;
        }

        // Desktop
        @media only screen and (min-width: $desktop-min-size) {
            width: 38vw;
            height: 30px;
            max-width: 409px;
        }

        .bar_label{
            width: 25%;
            background: #662D8F;
            height: inherit;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 9pt;
            font-family: 'Lato';
            
            float: left;

            // Tablets
            @media only screen and (min-width: $tablet-min-size) {
                font-size: 0.7em;
            }
        }

        .bar_progress{
            width: 0%;
            height: inherit;
            background: #461F68;
            float: left;
        }

        .bar_percentage_label{
            float: right;
            width: 10%;
            height: inherit;
            font-size: 9pt;
            padding-right: 16px;
            display: flex;
            justify-content: center;
            align-items: center;

            // Tablets
            @media only screen and (min-width: $tablet-min-size) {
                font-size: 0.7em;
            }
        }
    }
}

.clearfix::after { 
    content: " ";
    display: block; 
    height: 0; 
    clear: both;
    padding-bottom: 70px;
    background: rgb(238, 236, 236);
 }